@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("nullstyle.css");
@import url("default.css");

.profile {
    text-align: center;
}
.name {
    font-size: 34px;
    margin: 40px 0 10px;
}
.image {
    margin: 40px 0 0;
    border-radius: 50%;
    width: 25%;
    aspect-ratio: 1;
}
.logout {
    font-size: 20px;
}
.logout:hover {
    display: inline-block;
    text-decoration: underline;
    text-shadow: 0 0 3px #0000ff80;
}
h2 {
    font-size: 28px;
    margin: 30px 0 0;
}
.other-info {
    font-size: 24px;
    padding: 0px 100px;
    margin: 0 0 20px;
}
.edit-header {
    margin: 0 0 30px;
}
.other-info p {
    margin: 15px 0;
    display: inline-block;
}

h3 {
    display: inline-block;
}
.update {
    width: 150px;
    height: 44px;
    font-size: 22px;
    border: 1px solid #000;
    margin: 20px 0;
}
.update:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}
.update:active {
    box-shadow: 0 0 3px #ff0000;
}
.form-group {
    font-size: 22px;
}
